<!doctype html>
<html lang="en">
{% load crispy_forms_tags %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <br>
  <center>
      <h3>Ajax CRUD</h3>
  </center>


  <div class="container mt-5">

    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-center alert alert-info">Add/Update</h4>
        <form method="post">
          {% csrf_token %}
          {{form|crispy}}
          <br>
          <input type="button" id="btnsave" value="Submit" class="btn btn-primary">
        </form>
      </div>
      <div class="col-sm-7">
        <h4 class="text-center alert alert-info">Show Data</h4>
        <table class="table" id="tbody">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Descriptions</th>
            </tr>
          </thead>
          <tbody>
          {% for data in st %}
            <tr>
              <th scope="row">{{data.id}}</th>
              <td>{{data.name}}</td>
              <td>{{data.email}}</td>
              <td>{{data.description|slice:"0:20"}}</td>
              <td>
                <input type="button" data-sid="{{data.id}}" class="btn btn-warning btn-sm" value="Edit">
                <input type="button" data-sid="{{data.id}}" class="btn btn-danger btn-sm" value="Delete">
              </td>

            </tr>

          {% endfor %}


          </tbody>
        </table>
      </div>
    </div>
  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- for ajax script -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <!-- end ajax script -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% include 'java_script1.html' %}
  </body>
</html>